[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "gohugoioTheme"]
	path = gohugoioTheme
	url = https://github.com/gohugoio/gohugoioTheme
[submodule "themes/hugo-theme-zdoc"]
	path = themes/hugo-theme-zdoc
	url = https://github.com/zzossig/hugo-theme-zdoc.git
[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
