h1, h2, h3, h4, h5, body, p {
    font-family: "Verdana";
}

figure.icon {
    display: table;
    margin-left: auto;
    margin-right: auto;
        width: 388px;
        height: 256px;
    margin-bottom: auto;
    }

#header-wrapper {
    background: #aa96da;
    color: #fff;
    text-align: center;
    border-bottom: 4px solid #9c6fb6;
    padding: 1rem;
}
.searchbox {
    margin-top: 1rem;
    position: relative;
    border: 1px solid #915eae;
    background: #aa96da;
    border-radius: 4px;
}
.header-style {
  color: #a796d6;
  background-color: #a796d6;
}
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.right-sidebar {
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 2;
          order: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (max-width: 959px) {
  #navigation .nav {
    position: fixed;
    bottom: 0;
  }
  #navigation .nav.nav-next {
    width: auto;
    right: 1rem;
  }

  #navigation .nav i {
    filter: drop-shadow(0 0 4px #251f296A);
  }

  #navigation .nav.nav-prev {
    width: auto;
    left: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  #navigation .nav.nav-next {
    right: 0.375rem;
  }
  #navigation .nav.nav-prev {
    left: 14.75rem;
  }
}

