table, th, td {
    border: 1px solid black;
 }
table tr#Beige td {background-color:#FFEBCD !important;}
table tr#Purple td {background-color:#BA55D3}
table tr#Red td {background-color:#DC143C}
table tr#Blue td {background-color:#00BFFF !important;}
table tr#Orange td {background-color:#FF8C00;}
table tr#Green td {background-color:#228B22 !important;}
table tr#Yellow td {background-color:#FFD700;}
table tr#Turquoisetd {background-color:#00CED1;}
